arduino/source/arduino_src/Debug
arduino/source/arduino_src/Release
arduino/source/arduino_src/schematics/*.fzz

pi/source/python/__pycache__
pi/source/python/logs/*
pi/source/python/remi/__pycache__/
